fastapi
uvicorn
python-docx
PyPDF2
pytesseract
Pillow
spacy
textblob
python-multipart
pydantic
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
